swagger: '2.0'
info:
  description: This documentation shows the available endpoints for Mobile to handle the processes.
  version: 1.0.0
  title: 'Promapp Mobile: Processes'
host: promapp.nintex.com
basePath: /mobile-promapp/api/v1/
tags:
  - name: processes
    description: Everything about the processes
schemes:
  - https
paths:
  /webapp/processes:
    post:
      tags:
        - processes
      summary: 'Get a collection of processes and process groups which are new, modified or deleted.'
      produces:
        - application/json
      parameters:
      - in: "body"
        name: "body"
        description: "Posting minimode processes to the server to check for any new updates"
        required: true
        schema:
            type: array
            items:
              $ref: "#/definitions/MiniModeProcess"
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Processes'
        '500':
          description: server error
  '/webapp/processes/{id}':
    get:
      tags:
        - processes
      summary: Get a process group or process definition
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: The id of the item
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Process'
        '500':
          description: server error
    patch:
      tags:
        - processes
      summary: submit the last viewed and favourite process
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: The id of the item
          required: true
          type: string
      responses:
        '200':
          description: successful operation
        '500':
          description: server error
      
definitions:

  MiniModeProcess:
    type: object
    properties:
      url:
        type: string
        example: https://demo.promapp.com/857f84bd5f39475bac9b1185cf414318/Process/Minimode/Permalink/D6IqhakZdXSjHkv04x6Kei
 
        
  Processes:
    type: object
    properties:
      processes:
        type: "array"
        items:
          $ref: "#/definitions/DeltaProcess"
      favourites:
        type: "array"
        items:
          $ref: "#/definitions/DeltaFavourite"
      recentlyViewed:
        type: "array"
        items:
          $ref: "#/definitions/DeltaRecentlyViewed"
      settings:
          $ref: '#/definitions/Settings'
  
  Settings:
    type: object
    properties:
      minimodeEnabled:
        type: boolean
      minimodeUnauthLeaveFeedback:
        type: boolean
      minimodeEnabledViewProcesses:
        type: boolean
      minimodeRequiredLogin:
        type: boolean
      
  Process:
    type: object
    properties:
      id:
        type: string
        example: 0ce05421-2f9c-4f0b-b4c3-e96425e8562c
      isFavourite:
        type: boolean
      lastViewed:
        type: string
        format: date-time
        description: date in UTC
        example: '2019-11-14T09:13:33.759+00:00'
      type:
        type: integer
        format: int16
        description: ProcessGroup (1) Process (2)
        enum:
          - 1
          - 2
      state:
        type: integer
        format: int16
        description: New (1) Modified (2) Deleted (3)
        enum:
          - 1
          - 2
          - 3
      title:
        type: string
        example: "Expense Claim"
      subtitle:
        type: string
        example: "Human Resources"
      body:
        type: string
        example: "Json Payload"
      metadata:
        type: array
        items:
              $ref: '#/definitions/Metadata'
              
  DeltaProcess:
    type: object
    properties:
      parentId:
        type: string
        example: 0ce05421-2f9c-4f0b-b4c3-e96425e8562c
      id:
        type: string
        example: 0ce05421-2f9c-4f0b-b4c3-e96425e8562c
      hasChildren:
        type: boolean
      type:
        type: integer
        format: int16
        description: ProcessGroup (1) Process (2)
        enum:
          - 1
          - 2
      state:
        type: integer
        format: int16
        description: New (1) Modified (2) Deleted (3)
        enum:
          - 1
          - 2
          - 3
      title:
        type: string
        example: "Expense Claim"
      subtitle:
        type: string
        example: "Human Resources" 
  
  DeltaFavourite:
    type: object
    properties:
      id:
        type: string
        example: 0ce05421-2f9c-4f0b-b4c3-e96425e8562c
      isFavourite:
        type: boolean
        
  DeltaRecentlyViewed:
    type: object
    properties:
      id:
        type: string
        example: 0ce05421-2f9c-4f0b-b4c3-e96425e8562c
      lastViewed:
        type: string
        format: date-time
        description: date in UTC
        example: '2019-11-14T09:13:33.759+00:00'
      
  Metadata:
    type: object
    properties:
      id:
        type: string
        example: 0ce05421-2f9c-4f0b-b4c3-e96425e8562c
      hash:
        type: string
        example: 0ce05421-2f9c-4f0b-b4c3-e96425e8562c
      url:
        type: string
        example: http://
      name:
        type: string
        example: abc.pdf
      size:
        type: string
        example: 500b
      type:
        type: integer
        format: int16
        description: embedded (1) external (2)
        enum:
          - 1
          - 2

  LastViewed:
    type: object
    properties:
      id:
        type: string
        example: 0ce05421-2f9c-4f0b-b4c3-e96425e8562c
        description: id of the process
      lastViewedDate:
        type: string
        format: date-time
        description: date in UTC
  Favourite:
    type: object
    properties:
      id:
        type: string
        example: 0ce05421-2f9c-4f0b-b4c3-e96425e8562c
        description: id of the process
      isFavourite:
        type: boolean