swagger: '2.0'
info:
  description: This documentation shows the available endpoints for Mobile to handle the processes.
  version: 1.0.0
  title: 'Promapp Mobile: Processes'
host: promapp.nintex.com
basePath: /mobile-promapp/api/v1/
tags:
  - name: processes
    description: Everything about the processes
schemes:
  - https
paths:
  /webapp/processes:
    get:
      tags:
        - processes
      summary: 'Get a collection of processes and process groups which are new, modified or deleted'
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Processes'
        '500':
          description: server error
  '/webapp/processes/{id}':
    get:
      tags:
        - processes
      summary: Get a process group or process definition
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: The id of the item
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Process'
        '500':
          description: server error
  '/webapp/processes/lastviewed':
    post:
      tags:
        - processes
      summary: submit the last viewed process
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/LastViewed'
        '500':
          description: server error
  '/webapp/processes/favourites':
    post:
      tags:
        - processes
      summary: submit the favourite of a process
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Favourite'
        '500':
          description: server error
definitions:
  Processes:
    type: object
    properties:
      id:
        type: string
        example: 0ce05421-2f9c-4f0b-b4c3-e96425e8562c
      type:
        type: integer
        format: int16
        description: ProcessGroup (1) Process (2)
        enum:
          - 1
          - 2
      state:
        type: integer
        format: int16
        description: New (1) Modified (2) Deleted (3)
        enum:
          - 1
          - 2
          - 3
  Process:
    type: object
    properties:
      id:
        type: string
        example: 0ce05421-2f9c-4f0b-b4c3-e96425e8562c
      name:
        type: string
        example: Expense claim
      path:
        type: string
        description: path showing the location of the process
        example: Human resources
      lastViewedDate:
        type: string
        format: date-time
        description: date in UTC
        example: '2019-11-14T09:13:33.759+00:00'
      isFavourite:
        type: boolean
        example: false
      type:
        type: integer
        format: int16
        description: ProcessGroup (1) Process (2)
        enum:
          - 1
          - 2
      state:
        type: integer
        format: int16
        description: New (1) Modified (2) Deleted (3)
        enum:
          - 1
          - 2
          - 3
      level:
        type: integer
        format: int16
        description: The depth of this item in the hierarchical tree
        default: 0
  LastViewed:
    type: object
    properties:
      id:
        type: string
        example: 0ce05421-2f9c-4f0b-b4c3-e96425e8562c
        description: id of the process
      lastViewedDate:
        type: string
        format: date-time
        description: date in UTC
  Favourite:
    type: object
    properties:
      id:
        type: string
        example: 0ce05421-2f9c-4f0b-b4c3-e96425e8562c
        description: id of the process
      isFavourite:
        type: boolean
