swagger: "2.0"
info:
  description: "This documentation shows the available endpoints supported for Mobile to download the webapp package."
  version: "1.0.0"
  title: "Promapp Mobile: Download webapp package"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "promapp.nintex.com"
basePath: "/mobile-promapp/api/v1/"
tags:
- name: "webapp"
  description: "Everything about webapp"

schemes:
- "https"

paths:
  /webapp/latest/version:
    get:
      tags:
      - "webapp"
      summary: "Get the latest version of the webapp"
      description: "Returns a version"
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/WebApp"
        "500":
          description: "server error"

  /webapp/latest/download:
    get:
      tags:
      - "webapp"
      summary: "Download the latest version of the webapp"
      description: "Returns the latest version of the webapp"
      produces:
      - "application/octet-stream"
      responses:
        "200":
          description: "successful operation"
        "500":
          description: "server error"
          
  /webapp/{version}/download:
    get:
      tags:
      - "webapp"
      summary: "Download the specified version of the webapp"
      description: "Returns the specified version of the webapp"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "version"
        in: "path"
        description: "version of the webapp"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "500":
          description: "server error"

definitions:
  WebApp:
    type: "object"
    properties:
      version:
        type: "string"
        example: "23.1"